jupyterlab
numpy
pandas
matplotlib
seaborn
scikit-learn
scipy
python-dotenv
openpyxl
sqlalchemy
pyarrow
fastparquet
xlrd
missingno
ipywidgets
plotly
colorspacious
category_encoders
matplotlib-venn
googletrans
ydata-profiling[notebook]
sweetviz
dtale
lux-api
lux-widget
imbalanced-learn
graphviz
fairlearn
aif360
shap
folium
wordcloud
colorcet
pip-tools
pycodestyle
flake8
black
click
pytest-shutil
cookiecutter
pytest
cython
tensorflow
torch
torchvision
torchaudio
pydot